@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
   margin:0;
 padding: 0;
}

body
{
font-family:"Roboto",sans-serf;
backgorund-color:black;
 background-image: url('ram.jpg'); 
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
 h1
 {  
     text-align:center;
	 color:white;
 }
 a {
	 text-decoration: none;
	 color:black;
   }
.C3 .Vbutton
{
margin-right:25px;
backgorund-color: #F3A132;
border:#F3A132;
color:black;
padding:15px 32px;
text-align:center;
text-decoration: none;
border-radius:50px;
font-size:16px;
cursor:pointer;
width: 150px;
display:block;
}
.C3 .Vbutton1
{
margin-right:25px;
backgorund-color: #1DE30F;
border:#1DE30F;
color:black;
padding:15px 32px;
text-align:center;
text-decoration: none;
border-radius:50px;
font-size:16px;
cursor:pointer;
width: 150px;
display:block;
}
.C3 .Vbutton:not(:last-child)
{
border-bottom:none; /*Prevent double borders*/
}
.C3 .Vbutton:hover
{
background-color:#F38D32 ;
}
.C3 .Vbutton1:not(:last-child)
{
border-bottom:none; /*Prevent double borders*/
}
.C3 .Vbutton1:hover
{
background-color:#21BA17 ;
}